.DS_Store

*.pyc
credentials.txt
task.txt
test.py
test.py
bambulab-spoolman.code-workspace
spoolman_filaments.txt
slicer_filaments.txt
filament_mapping.json
log_errors.txt
credentials.ini
GUI/bambulab_spoolman/lib/bambulab_spoolman_flutter.code-workspace
app.log
config/